.root main {
  margin: 2.25rem 0 3rem 0;
}

.root main h1 {
  margin-bottom: 1.5rem;
}

@media only screen and (min-width: 1024px) {
  .root main {
    display: grid;
    grid-template-columns: 350px auto;
    grid-template-rows: auto auto;
    column-gap: 9rem;
    margin-bottom: 30vh;
  }

  .root main h1 {
    grid-column: 1 / -1;
  }
}
